@import '_elements';

:host([main]) {
  color: $color-text;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 2 !important;
  box-shadow: none !important;
  background-color: $color-grey-50;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.border-bottom {
  display: block;
  border-bottom: 1px solid $color-grey-300 !important;
}

.inline {
  #survey_header.card-content {
    padding:16px;
  }

  #close {
    height: 40px;
    width: 40px;
  }

  h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
  }

  survey-rating.card-content {
    padding:16px;
  }

  .buttons.card-content {
    padding:16px;
  }
}

#close {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: $phone-breakpoint-max) {
  #dialogSurvey {
    margin: 0;
    left: 0 !important;
    top: 0 !important;
    width: 100%;
  }

  #close {
    height: 28px;
    width: 28px;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
  }
}

.label {
  font-size: 16px;
  font-weight: 400;
}

.hint {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.rate__icon {
  color: #fff;
  padding: 0;
  --iron-icon-stroke-color: $color-text;
  width: 40px;
  height: 40px;
  transition: color .2s ease-in-out .2s;
  border-radius: 50%;

  &.selected {
    color: $color-bluegrey-700;
  }
}
