{% define "title" %}404 Not Found{% end %}

{% define "content" %}

<section class="page__section">
  <img src="{% .Prefix %}/images/io-logo-grey.png" class="iologo">
</section>

<div class="card__container bg-grey-50">
  <div class="card">
    <div class="card-content">
      <h2><i18n-msg msgid="sorry-404">Sorry. We couldn't find that page :(</i18n-msg></h2>
    </div>
    <div class="card-content">
      <a href="./" data-track-link="404-continue-to-site">
        <i18n-msg msgid="upgrade-gotosite">Continue to the I/O 2016 website</i18n-msg>
      </a>
    </div>
  </div>
</div>

{% end %}
