{% define "title" %}Google I/O 2016{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
<div id="countdown-container" class="photo__masthead--fullbleed" fit>
  <countdown-timer auto-start bg-color="#00BCD4"
      date="{% .StartDateStr %}"
      ease-in-time="490" wait-time="100"
      ease-out-time="400"
      value="{{countdownValue}}"
      label="Google I/O"
      role="timer">
  </countdown-timer>
</div>
{% end %}

{% define "content" %}

  <paper-toolbar class="navbar__overlay navbar__overlay--video"
                 aria-hidden$="{{!fullscreenVideoActive}}" fit>
    <paper-icon-button icon="arrow-back"
        on-tap="closeVideoCard"
        aria-label="Close video"
        tabindex="[[_enableTabIndex(fullscreenVideoActive)]]"></paper-icon-button>
    <span flex>Watch the 2014 I/O Recap Video</span>
  </paper-toolbar>

  <div class="active">
    <div class="card__container card__container--top slide-up">
      <div class="card">
        <div class="card-content">
          <h3>Google I/O is for developers—the creative coders who are building what's next. Together we'll explore the latest in tech, mobile &amp; beyond.</h3>
        </div>
        <div relative>
          <paper-progress indeterminate fit hidden$="{{!settingsIOReminder}}"></paper-progress>
        </div>
        <div class="card-content link-spacing">
          <a href="about" data-ajax-link data-transition="hero-card-transition"
             data-track-link="home-learn-more-about-io">Learn more about I/O</a>
          <a href="#" data-track-link="home-set-reminder"
             class="notification__feature" on-click="onSetReminder">
            <iron-icon icon="io:notifications-none"></iron-icon> Set a reminder
          </a>
        </div>
        <div class="ripple">
          <div class="ripple__content"></div>
        </div>
      </div>
    </div>
    <div class="slide-up-delay">
      <section class="home-photo page__section"></section>

      <div class="registration__card card__container sidebyside"
           layout horizontal vertical$="{{isPhoneSize}}">
        <div class="card" auto-vertical flex>
          <div class="card-content hide-on-mobile">
            <h3>I/O is two days of hands-on interaction with the latest technologies, inspirational talks and a few surprises in between.</h3>
          </div>
          <div class="card-content">
            <a href="schedule#myschedule" data-ajax-link
               data-track-link="home-check-agenda">
               <iron-icon icon="event" aria-hidden="true"></iron-icon> Create your schedule
            </a>
          </div>
        </div>
        <div class="card" layout vertical auto-vertical flex>
          <div flex class="card__photo card__photo--plan"></div>
          <div class="card-content">
            <a href="onsite" data-ajax-link data-track-link="home-plan-experience">Plan your I/O experience</a>
          </div>
        </div>
      </div>

      <section id="join" class="page__section bg-light-grey">
        <h2>Join the conversation now at #io15</h2>
        <div class="join__social" layout vertical end hidden$="{{isPhoneSize}}">
          <a href="https://plus.google.com/+GoogleDevelopers"
             data-track-link="home-social-plus-google-developers" target="_blank">
            +googledevelopers<iron-icon icon="io:post-gplus"></iron-icon>
          </a>
          <a href="https://twitter.com/googledevs"
             data-track-link="home-social-twitter-google-devs" target="_blank">
            @googledevs<iron-icon icon="io:post-twitter"></iron-icon>
          </a>
        </div>

        <div class="io__hash" aria-label="I/O hash tag"></div>

        <social-poller url="api/v1/social" posts="{{socialPosts}}"
                       interval="30000"></social-poller>

        <template is="dom-if" if="[[_showSocialPosts(socialPosts, 3)]]">
          <div class="sidebyside" layout horizontal vertical$="{{isPhoneSize}}">
            <template is="dom-repeat" items="{{limit(socialPosts, 3)}}" as="post">
              <social-post kind="[[post.kind]]"
                           author="[[post.author]]"
                           url="[[post.url]]"
                           text="[[post.text]]"
                           when="[[post.when]]">
              </social-post>
            </template>
          </div>
        </template>

      </section>
    </div>
  </div>

  <template if="{{fullscreenVideoActive}}">
    <div class="fullvideo__container" fit hidden>
      <img src="images/home/recap-500@2x.jpg" class="fullvideo_thumbnail" alt="Watch the I/O Recap Video" fit>
      <google-youtube videoid="ksvdvCDO7pA" height="100%" width="100%" fit
                      autohide="1" controls="2" modestbranding="1" showinfo="0"
                      iv_load_policy="3" rel="0" autoplay="1"></google-youtube>
    </div>
  </template>

  <script>
  (function() {

    // Page-specific JS that runs when this page is loaded for the first time.
    function initPage() {
      var page = IOWA.Elements.Template.pages.home;

      if (page.hasBeenLoaded) {
        return;
      }

      page.load = function() {
        // Reset template variables for when revisiting the page.
        IOWA.Elements.Template.fullscreenVideoActive = false;
      };

      IOWA.Elements.Template.onSetReminder = function(e, detail) {
        e.preventDefault();

        var template = this;
        template.settingsIOReminder = true;

        IOWA.Schedule.saveSession('__keynote__', true).then(function() {
          template.settingsIOReminder = false;

          if (template.savedSessions.length) {
            IOWA.Schedule.updateSavedSessionsUI(
                IOWA.Elements.Template.savedSessions);
          }

          IOWA.Schedule.bookmarkSessionNotification(
              true, "You'll be reminded when I/O starts.")
        });
      };

      page.load(); // Run load callback on page load.
      page.hasBeenLoaded = true;
    }

    // IE will be "loading" at this point. Other browsers will already be "complete".
    if (document.readyState !== 'loading') {
      initPage();
    }

    // Necessary for IE's lack of native <template>
    // https://github.com/GoogleChrome/ioweb2015/issues/599
    window._initPage = initPage;

  })();
  </script>
{% end %}
